/* 구글아이콘 (google font */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* word-break: keep-all; */
  /* min-width: 1024px; */
  /* outline: 0.1px solid rgb(255, 213, 221); */
}
/* .navSearch */
.navSearch {
  display: none;
  width: 100%;
  height: 65%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #fbfbfb;
  gap: 25%;
}
.navSearch .input_search {
  border: none;
  border-bottom: 1px solid;
  width: 65%;
  height: 7%;
  background-color: #fbfbfb;
}
.navSearch .ico_close01 {
  position: relative;
  right: -46%;
  top: 7%;
  font-size: 2.5rem;
  color: #303030;
}
.navSearch .title {
  font-size: 2.5rem;
  font-weight: 700;
}

.navSearch .ico_search01 {
  position: relative;
  top: -30%;
  right: -32%;
  font-size: 2rem;
}
.navSearch .ico_menu,
.submenu01 .ico_search {
  display: none;
}

/* .wrapper */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebecf0;
  overflow: hidden;
  display: none;
  position: fixed;
  z-index: 3;
}
.container {
  border-radius: 10px;
  box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
  position: absolute;
  width: 70%;
  min-height: 70%;
  overflow: hidden;
}
form {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
form input {
  background: #efefef;
  padding: 16px;
  margin: 8px 0;
  width: 85%;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px #babebc, inset -5px -5px 12px #fff;
}
button {
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 45px;
  margin: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
}
.form_btn {
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  white-space: nowrap;

}
.form_btn:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
.overlay_btn {
  background-color: #d5d4d4;
  color: #fff;
  box-shadow: 1px -6px 2px #c7c7c7, 5px 6px 6px #bbbbbb;
  white-space: nowrap;

}
.overlay_btn:hover {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #efeeee;
}
.sign-in-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.5s;
}
.sign-up-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.overlay-left {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  background-color: #d5d4d4;
  color: #fff;
  transition: all 0.5s;
}
.overlay-right {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #d5d4d4;
  color: #fff;
  transition: all 0.5s;
}
.wrapper .ico_close02 {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 2rem;
}
.wrapper .ico_close03 {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 2rem;
}
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
}
.container.right-panel-active .overlay-right {
  transform: translateX(-100%);
  opacity: 0;
}
.container.right-panel-active .overlay-left {
  transform: translateX(-100%);
  opacity: 1;
  z-index: 2;
}
.social-links {
  margin: 20px 0;
  display: flex;
}
form h1 {
  font-weight: bold;
  margin: 0;
  color: #000;
  white-space: nowrap;
}
p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
form span {
  font-size: 12px;
  color: #000;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.social-links div {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  cursor: pointer;
}
.social-links a {
  color: #000;
}
.social-links div:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
a {
  text-decoration: none;
  color: #303030;
}
.material-symbols-outlined {
  cursor: pointer;
}
li {
  list-style: none;
}
header .submenu a:hover,
header .sub_menu span:hover,
header .submenu03 span:hover {
  color: #7E7E7E
}
header .board_ico {
  gap: 10px;
  display: flex;
}
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/* header */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  padding: 60px 0 20px 0;
}
.header.inner {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 10px;
  align-items: flex-end;
}
.submenu01 {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: flex-end;
}
.submenu01 .ico_menu {
  display: none;
}
.ico_arrow_drop_down {
  top: -9%;
  position: relative;
  left: -10%;
}
header .submenu01 .logo {
  background: url(/portfolio/cielo/images/CIELO\ logo.png)50% 50% no-repeat;
  width: 97px;
  height: 46px;
  background-size: contain;
  display: block;
  text-indent: -9000px;
  overflow: hidden;
}
header .submenu02 .logo02 {
  display: none;
}
header .submenu {
  display: flex;
  gap: 15px;
  font-size: 0.75rem;
  cursor: pointer;
}
.submenu03 .material-symbols-outlined {
  margin: -5px 0 0 -15px;
}

/* submenu02 */
.submenu02 {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
}
.submenu02 .Msubmenu {
  display: none;
}
.submenu02 a {
  font-size: 0.9375rem;
}
.submenu02 #menu {
  display: flex;
  gap: inherit;
}
.submenu02 .ico_close {
  display: none;
}
header .submenu02 menu .logo {
  display: none;
}
.sub_menu {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style-type: none;
  padding: 5px 12px;
  z-index: 1;
  text-align: center;
  margin: 5px -20px;
  border: 1px solid #969696;
}
.sub_menu li {
  padding: 5px 0;
}
.sub_menu li:hover {
  padding: 5px 0;
}
.sub_menu a {
  color: #303030;
  font-size: 0.8125rem;
}
.sub_menu a:hover {
  color: #969696;
}
#menu li {
  padding: 5px 10px;
}
li:hover .sub_menu {
  display: block;
}
.submenu03 {
  display: flex;
  gap: 25px;
  margin: 10px;
  color: #303030;
  cursor: pointer;
}


/* main */
/* sec01 */
html,
body {
  position: relative;
}
body {
  background-color: #FBFBFB;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 774px;
  height: 100%;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 5;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 30px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px));
  border-radius: var(--swiper-pagination-bullet-border-radius, 0%);
}
.sec01 {
  padding-top: 220px;
  display: flex;
}
.sec01 img {
  object-fit: cover;
  width: 100%;
}


/* sec02 */
.sec02 {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0 100px;
}
.sec02 .sec02inner {
  overflow: hidden;
}
.sec02 h2 {
  text-align: center;
}

.sec02mySwiper > swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec02mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: fill;
}
.sec02inner,
.sec03inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sec03 h2 {
  text-align: center;
}
/* sec03, */
/* sec04 */
/* sec05 */
.sec03,
.sec04,
.sec05 {
  padding: 0 100px 0;
}
.explanation {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.explan01 {
  gap: 10px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}
.sec03 img,
.sec04 img,
.sec05 img {
  border-radius: 5%;
  display: flex;
  width: 100%;
}
.color01 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-indent: -9000px;
  overflow: hidden;
}
.color01 span:first-child,
.color01 span:nth-child(2),
.color01 span:last-child {
  display: flex;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.color01 span:first-child {
  background-color: aquamarine;
}
.color01 span:nth-child(2) {

  background-color: rgb(120, 30, 161);
}
.color01 span:last-child {

  background-color: rgb(245, 110, 121);
}
.detailing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}




/* footer */
#footer {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 150px 0 50px 0;
}
#footer .inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 0.9375rem;
  width: 90%;
}
/* footer, foot01 */
.foot01 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
.footleft01 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footfirst {
  display: flex;
  justify-content: space-between;
}
.footmiddle,
.footright {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foot01 > div:first-child {
  font-size: 2.1875rem;
}
/* footer, foot02 */
.foot02 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 10px;
  white-space: nowrap;
}
.foot02 .foot02left,
.foot02 .foot02right {
  /* flex-direction: row; */
  display: flex;
  gap: 20px;
  align-items: end;
}
.foot02 .foot02left {
  list-style-type: none;
}
.foot02 .foot02right img {
  width: 35px;
  height: 35px;
}