@charset "utf-8";
body {
  min-width: 430px;
}
/* * {

  outline: 0.1px solid rgb(167, 20, 204);
} */
/* header */
.header.inner {
  gap: 30px;
}
header .submenu {
  gap: 10px;
  font-size: 0.5rem;
}
.menu li {
  padding: 5px 13px;
}
.submenu01 .ico_arrow_drop_down {
  top: -8%;
  position: relative;
  right: -574%;
  font-size: 1rem;
}
.submenu02 a {
  gap: 25px;
  font-size: 0.75rem;
}
.sec01 {
  padding-top: 206px
}

.sec02,
.sec03,
.sec04,
.sec05 {
  /* width: 100%; */
  /* display: flex; */
  padding: 0 10px 0;
}

.explan01:last-child {
  display: none;
}

#footer {
  padding: 80px 20px 50px 20px;
}


.footfirst,
.foot02 .foot02left {
  font-size: 0.8125rem;
}