@charset "utf-8";

.material-symbols-outlined {
  font-variation-settings:
    'wght' 200
}

* {
  /* min-width: 1024px; */
  outline: 0.1px solid rgb(128, 183, 255);
  outline: none;
}
.navSearch {
  height: 40%;
}
.navSearch .ico_close01 {
  right: -45%;
  top: 15%;
}
.navSearch .title {
  font-size: 2rem;
  font-weight: 600;
  padding: 0px 0 60px 0;
}
.navSearch .ico_search01 {
  top: -35%;
  right: -31%;
}
.navSearch .ico_close01 {
  top: 17%;
}
.container {
  width: 100%;
  min-height: 60%;
}
form h1 {
  font-size: 1.5rem;
}
.form_btn,
.overlay_btn {
  font-size: 0.7rem;
}

.submenu01 .material-symbols-outlined01 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.submenu01 .ico_menu,
.submenu01 .ico_search {
  display: flex;
  font-size: 47px;
  cursor: pointer;
}
.material-symbols-outlined {
  margin: 0;
}

/* header */
header {
  padding: 15px;
}
.header.inner {
  width: 100%;
  padding: 0;
  gap: 0;
}
.submenu01 {
  width: 100%;
}
header .submenu {
  gap: 5px;
  font-size: 0.5rem;
}
.submenu01 .submenu,
.submenu03 {
  display: none;
}
/* header */
/* .submenu02 */
.submenu02 .ico_close {
  top: 15px;
  right: 4%;
  position: absolute;
  display: block;
  font-size: 30px;
  cursor: pointer;
}
.submenu02 .ico_close:hover {
  color: #7E7E7E;
}
.submenu02 #menu {
  gap: 5px;
}
.submenu02 a {
  font-size: 1.0625rem;
  font-weight: 600;
}
#menu {
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 75%;
  height: 105vh;
  flex-direction: column;
  z-index: 999;
  background: #f3f3f3;
  opacity: 95%;
  padding: 0px 20px 0 25px;
}
/* submenu02 - >  menu */
#menu li:hover .sub_menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f3f3f3;
  padding: 0px 10px 0;
  text-align: left;
  border: none;
}
#menu .menu_bottom {
  display: flex;
  border-top: solid 1px #969696;
}
#menu li {
  padding: 10px 10px;
}
#menu a:hover {
  color: #7E7E7E;
}
/* submenu02 - >  menu - >  sub_menu */
.sub_menu li {
  padding: 5px 0;
}
.sub_menu li:hover {
  padding: 5px 0;
}
.sub_menu a {
  color: #303030;
  font-size: 0.9375rem;
  font-weight: 500;
}
.sub_menu a:hover {
  color: #969696;
}
.submenu02 .Msubmenu {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 12% 0 8% 0;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid;
}
.submenu02 .Msubmenu a {
  font-size: 0.875rem;
}
.submenu02 .Msubmenu .Msubmenu02 {
  display: flex;
  flex-direction: row;
}
.submenu02 .Msubmenu .Msubmenu02 li:first-child {
  padding-top: 40px;
}
header .submenu02 .logo02 {
  background: url(/portfolio/cielo/images/CIELO\ logo.png)50% 50% no-repeat;
  width: 85px;
  height: 46px;
  background-size: contain;
  display: block;
  text-indent: -9000px;
  overflow: hidden;
}
/* main */
/* sec01 */
.sec01 {
  padding-top: 77px;
}
.explan01:nth-child(3) {
  display: none;
}
/* footer */
.footfirst {
  flex-direction: column;
  gap: 40px;
}
a {
  font-size: 0.75rem;
}
.foot02 .foot02right img {
  width: 25px;
  height: 25px;
}