@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* word-break: keep-all; */
  /* min-width: 1024px; */
  /* outline: 0.1px solid rgb(255, 213, 221); */
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  padding: 60px 0 20px 0;
}
.header.inner {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 10px;
  align-items: flex-end;
}
.submenu01 {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: flex-end;
}
/* .submenu01 .submenu li:after {
  content: " ";
  border-right: 1px solid #303030;

} */

.submenu01 .ico_menu {
  display: none;
}
.ico_arrow_drop_down {
  top: -9%;
  position: relative;
  left: -10%;
}
header .submenu01 .logo {
  background: url(/portfolio/cielo/images/CIELO\ logo.png)50% 50% no-repeat;
  width: 97px;
  height: 46px;
  background-size: contain;
  display: block;
  text-indent: -9000px;
  overflow: hidden;
}
header .submenu02 .logo02 {
  display: none;
}
header .submenu {
  display: flex;
  gap: 15px;
  font-size: 0.75rem;
  cursor: pointer;
}
.submenu03 .material-symbols-outlined {
  margin: -5px 0 0 -15px;
}
/* submenu02 */
.submenu02 {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
}
.submenu02 .Msubmenu {
  display: none;
}
.submenu02 a {
  font-size: 0.9375rem;
}
.submenu02 #menu {
  display: flex;
  gap: inherit;
}
.submenu02 .ico_close {
  display: none;
}
header .submenu02 menu .logo {
  display: none;
}
.sub_menu {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style-type: none;
  padding: 5px 12px;
  z-index: 1;
  text-align: center;
  margin: 5px -20px;
  border: 1px solid #969696;
}
.sub_menu li {
  padding: 5px 0;
}
.sub_menu li:hover {
  padding: 5px 0;
}
.sub_menu a {
  color: #303030;
  font-size: 0.8125rem;
}
.sub_menu a:hover {
  color: #969696;
}
#menu li {
  padding: 5px 10px;
}
li:hover .sub_menu {
  display: block;
}
.submenu03 {
  display: flex;
  gap: 25px;
  margin: 10px;
  color: #303030;
  cursor: pointer;
}







.sec01 {
  padding: 0 100px 0;
}
.explanation {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.explan01 {
  gap: 10px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}
.sec03 img,
.sec04 img,
.sec05 img {
  border-radius: 5%;
  display: flex;
  width: 100%;
}
.color01 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-indent: -9000px;
  overflow: hidden;
}
.color01 span:first-child,
.color01 span:nth-child(2),
.color01 span:last-child {
  display: flex;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.color01 span:first-child {
  background-color: aquamarine;
}
.color01 span:nth-child(2) {

  background-color: rgb(120, 30, 161);
}
.color01 span:last-child {

  background-color: rgb(245, 110, 121);
}
.detailing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}